<footer class="footer">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">

                <div class="divider">
                    Kontakt
                </div>
                <b>Annegret Schrader</b><br>
                Ferienhäuser am Hungerberg<br>
                Windmühlenweg 22<br>
                37696 Marienmünster<br>
                Telefon: 0 52 76 / 98 69 740<br>
                Telefax: 0 52 76 / 98 69 741<br>
            </div>
            <div class="column">
                <p>
                    <a href="./impressum">Impressum</a>
                </p>
            </div>
        </div>
    </div>
</footer>