<div class="content">
    <h1 class="title">Preisliste</h1>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th class="th">2020</th>
                    <th class="th">2</th>
                    <th class="th">3-4</th>
                    <th class="th">5-6</th>
                    <th class="th">7-8</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="th">Sparsaison 05.01-28.03.20 und 24.10.-19.12.20</th>
                    <th class="th">{{sparsaison.p2}}€</th>
                    <th class="th">{{sparsaison.p34}}€</th>
                    <th class="th">{{sparsaison.p56}}€</th>
                    <th class="th">{{sparsaison.p78}}€</th>
                </tr>
                <tr>
                    <th class="th">Vorsaison 28.03-04.07.20 und Nachsaison 28.08.-24.10.20</th>
                    <th class="th">{{vorsaison.p2}}€</th>
                    <th class="th">{{vorsaison.p34}}€</th>
                    <th class="th">{{vorsaison.p56}}€</th>
                    <th class="th">{{vorsaison.p78}}€</th>
                </tr>
                <tr>
                    <th class="th">Hauptsaison 04.07-28.08.20 und 19.12.-09.01.21</th>
                    <th class="th">{{hauptsaison.p2}}€</th>
                    <th class="th">{{hauptsaison.p34}}€</th>
                    <th class="th">{{hauptsaison.p56}}€</th>
                    <th class="th">{{hauptsaison.p78}}€</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<a class="button" href="./../../assets/buchung.docx">Buchungsformular &nbsp; <i class="fa fa-file"></i></a>