<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a target="_blank" class="navbar-item" href="https://www.marienmuenster.de/index.php?id=3&L=0">
            <img src="./../../assets/logo.png" width="112" height="28">
        </a>
    </div>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a href="" class="navbar-item">
                Startseite
            </a>
            <div class="divider is-vertical"></div>
            <a target="_blank"
                href="https://www.marienmuenster.de/fileadmin/Dateien/Dateien_pdf_Stadt/Ferienpark/UebersichtsplanFerienhausgebietr.pdf"
                class="navbar-item">
                Übersichtsplan
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-light" href="tel:052769869740">
                        05276/9869740 &nbsp; <i class="fas fa-phone-square-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>