h1 {
    text-align: center;
}

.button {
    background-color: rgb(40, 113, 62);
    color: white;
}

i {
    margin: 5px;
}

.grusscontainer {
    position: relative;
    text-align: center;
    color: white;
}

.card {
    margin: 10px;
}

.card:hover {
    background-color: whitesmoke;
}

.gruss {
    background-color: rgb(40, 113, 62, 0.7);
    padding: 20px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {

    .grusscontainer {
        display: none;
    }
}